[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
diskspacemonitor = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pre-commit = "*"
flake8 = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
